
@model dynamic


@{
    ViewData["Title"] = "View";
}

<h3 style="margin-top: 50px">Category</h3>


<div class="list-group list-group" style="margin-top: 20px">

    <a class="list-group-item list-group-item-action" asp-action="List"
        asp-controller="Product">
        All
        <span class="badge bg-primary rounded-pill">@Model.products.CountProducts()</span>
    </a>



    @foreach (string category in Model.modelCategory)
    {
<a class="list-group-item list-group-item-action" asp-action="List"
    asp-controller="Product"
    asp-route-category="@category">
    @category
    <span class="badge bg-primary rounded-pill">@Model.products.CountProducts(category)</span>
</a>
        
    }

</div>
