

@model IQueryable<string>


@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<a class="btn btn-block"
   asp-action="List"
   asp-controller="Product">
    All
</a>

@foreach (string category in Model)
{
    <a class="btn btn-block"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@category">
        @category
    </a>
}
